<form [formGroup]="form">
    <h3>Add Usage</h3>
    <mat-form-field class="max-width">
      <mat-label>Description</mat-label>
      <textarea placeholder="KEKW" formControlName="description" matInput cdkTextareaAutosize
        cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" required></textarea>
    </mat-form-field>
    <mat-form-field class="max-width">
      <mat-label>Status</mat-label>
      <mat-select required formControlName="status"> 
        <mat-option value="rated"> rated </mat-option>
        <mat-option value="rerated">rerated</mat-option>
        <mat-option value="billed">billed</mat-option>
        <mat-option value="received">received</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field >
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="usageDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

    </mat-form-field>

    <mat-form-field class="max-width">
        <mat-label>Type</mat-label>
        <textarea placeholder="KEKW" formControlName="usageType" matInput cdkTextareaAutosize
          cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" required></textarea>
    </mat-form-field>

    <div style="display: flex; justify-content: flex-end;">
      <button mat-button (click)="dialogRef.close()" class="margin-right">MÉGSEM</button>
      <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">FELVÉTEL</button>
    </div>
  </form>
  